RPC_URL=https://testnet-rpc.iopn.tech
PRIVATE_KEY=your_keeper_wallet_private_key_here
ORACLE_ADDRESS=0x_oracle_address_from_deploy
PERP_ADDRESS=0x_perp_engine_address_from_deploy
UPDATE_INTERVAL=30000
